@model ProjectManagement.Models.AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Message</h3>
<div style="color: orange">
    <h3>@Model.Author</h3>
</div>

<body>
    <table border="1">
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                22
            </td>
            <td>
                33
            </td>
        </tr>
        <tr>
            <td>
                111
            </td>
            <td>
                222
            </td>
            <td>
                333
            </td>
        </tr>
    </table>
    <p>
         
    </p>
    <div>
        <p align ="justify">
            Model–view–controller (MVC) is a software design/architectural pattern
            mostly for implementing user interfaces (but not only for user interface). It
            divides a given software application into three interconnected parts, so as
            to separate internal representations of information from the ways that
            information is presented to or accepted from the user. The model manages the behavior and data of the application domain,
            responds to requests for information about its state (usually from the
            view), and responds to instructions to change state.
        </p>
    </div>
</body>

<p>Use this area to provide additional information.</p>
